.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #3677bd;
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.center {
  margin: auto;
  width: 100%;
  text-align: center;
  height: 74px;
}
.m-t-10{
	margin-top: 10px;
}
.m-t-20{
	margin-top: 20px;
}
.m-t-30{
	margin-top: 30px;
}
.m-t-40{
	margin-top: 40px;
}
.m-t-50{
	margin-top: 50px;
}
#map {
    height: 530px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
.fixed-height{
	height: 571px;
}